html,
body,
div,
ul,
nav,
header,
footer,
section {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  color: #333;
}
body {
  background: #DDDDDD;
}
ul,
li {
  list-style: none;
}
a {
  color: #fff;
}
/*上下摆动动画*/
@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/*头部*/
header {
  margin-bottom: 30px;
  border-radius: 0;
}
header nav.navbar-inverse {
  height: 50px;
}
header nav.navbar-inverse div.container ul li a {
  height: 100%;
  color: #fff;
  line-height: 30px;
}
header nav.navbar-inverse div.container ul li a span.glyphicon {
  margin-right: 10px;
}
header nav.navbar-inverse div.container ul li a:hover {
  background: #D9534F;
}
header nav.navbar-inverse div.container ul li a:focus {
  background: #D9534F;
}
/*底部*/
footer {
  padding-top: 30px;
  height: 300px;
  width: 100%;
  background: #242424;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 30px;
}
footer div.container {
  position: relative;
}
footer div.container div.time {
  width: 150px;
  height: 150px;
  margin: 0 50px;
  border-radius: 4px;
  text-align: center;
  font: bold 24px "黑体";
  color: #fff;
  float: left;
}
footer div.container div.time p.date {
  height: 30px;
  line-height: 120px;
}
footer div.container div.time p.clock {
  height: 30px;
  line-height: 120px;
}
footer div.container img.qrcode {
  position: absolute;
  right: 0;
  top: 0;
}
footer div.container div.frendlink {
  width: 150px;
  height: 100%;
  margin: 0 50px;
  float: left;
}
footer div.container div.frendlink h3 {
  font-size: 16px;
  color: #fff;
}
footer div.container div.frendlink ul li {
  height: 25px;
  margin: 5px 0;
  color: #fff;
}
footer div.container div.frendlink ul li:hover a {
  text-decoration: none;
}
footer div.container div.frendlink ul li a {
  color: #fff;
}
footer div.container div.frendlink ul li a span {
  margin-right: 10px;
}
footer div.container div.contact {
  width: 150px;
  height: 100%;
  margin: 0 50px;
  float: left;
}
footer div.container div.contact h3 {
  font-size: 16px;
  color: #fff;
}
footer div.container div.contact ul li {
  height: 25px;
  margin: 5px 0;
  color: #fff;
}
footer div.container div.contact ul li:hover a {
  text-decoration: none;
}
footer div.container div.contact ul li a {
  color: #fff;
}
footer div.container div.contact ul li a span {
  margin-right: 10px;
}
footer div.webinfo {
  border-top: 1px solid #555;
  padding: 5px 0;
  color: #fff;
  width: 100%;
  font: 14px "微软雅黑";
  position: absolute;
  bottom: 0;
  text-align: center;
}
/*所有分页主题样式*/
.pagination {
  float: right;
}
.pagination li.active a {
  background-color: #D9534F;
  border-color: #D9534F;
}
.pagination li a {
  color: #3E3E3E;
}
