body {
  background: #DDDDDD;
}
ul,
li {
  list-style: none;
}
header {
  position: relative;
  margin-bottom: 30px;
}
header nav.navbar-default {
  height: 100px;
  background-color: transparent;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  position: fixed;
  top: 0;
  left: 0;
  border: none;
}
header nav.navbar-default div.container ul {
  height: 50px;
  margin-top: 10px;
}
header nav.navbar-default div.container ul li a {
  color: #fff;
}
header nav.navbar-default div.container ul li a span.glyphicon {
  margin-right: 10px;
}
header nav.navbar-default div.container ul li a:hover {
  background: #D9534F;
}
header nav.navbar-default div.container ul li a:focus {
  background: #D9534F;
}
header div.key {
  width: 18.5%;
  height: 17%;
  position: absolute;
  top: 34%;
  left: 41%;
  font: 80px "方正姚体";
  color: #fff799;
  animation: shake 5s linear infinite;
  -webkit-animation: shake 5s linear infinite;
}
/*carousel轮播*/
#sliderwrapper {
  height: 310px;
  background: #F0AD4E;
  margin: 20px auto;
  position: relative;
  box-sizing: border-box;
  background-color: #DDDDDD;
}
#sliderwrapper div.inner_slider ul {
  width: 1170px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
#sliderwrapper div.inner_slider ul li {
  width: 200px;
  height: 290px;
  padding: 5px 0;
  text-align: center;
  margin: 10px;
  background: #fff;
}
#sliderwrapper div.inner_slider ul li img {
  width: 185px;
  margin: 0 auto;
}
#sliderwrapper div.inner_slider ul li:hover {
  box-shadow: 0 0px 20px #888;
  transition: 0.5s;
  transform: translate(0, -4px);
}
#sliderwrapper div.inner_slider ul li a {
  color: #333333;
}
#sliderwrapper div.inner_slider ul li a:hover {
  text-decoration: none;
}
#sliderwrapper a.carousel-control.left {
  background-image: none;
  width: 30px;
}
#sliderwrapper a.carousel-control.right {
  background-image: none;
  width: 30px;
}
/*文章 */
section.container article.panel div.panel-heading {
  border-left: 6px solid #3C83C1;
}
section.container ul.pagination {
  float: right;
}
