/*留言部分*/
#content {
  height: 400px;
  background: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 15px 4px #C0C0C0;
  box-shadow: 0 0 15px 4px #C0C0C0;
}
#content form {
  width: 48%;
  height: 100%;
  float: left;
}
#content form h3 {
  margin: 10px 0 20px 0;
}
#content form div.info {
  height: 40px;
}
#content form button {
  width: 100px;
  float: right;
  border-radius: 4px;
  font-size: 16px;
  color: #FFFFFF;
}
#content form div.last_text {
  padding: 0 15px;
}
#content #border {
  display: block;
  width: 2px;
  height: 90%;
  margin: 20px;
  background: #ccc;
  float: left;
}
#content .right_intro {
  width: 48%;
  height: 100%;
  float: right;
  margin-top: 10px;
}
#content .right_intro ul li {
  height: 80px;
  margin: 20px;
}
#content .right_intro ul li span {
  font-size: 32px;
  color: #333333;
  padding: 10px 20px;
  float: left;
}
#content .right_intro ul li div {
  float: left;
  color: #3e3e3e;
}
#content .right_intro ul li div p.title {
  font: 18px "微软雅黑";
  margin-bottom: 10px;
}
#content .right_intro ul li div p.innertext {
  font: 16px "微软雅黑";
}
#content .right_intro ul li::after {
  content: "";
  display: block;
  clear: both;
}
#content::after {
  content: "";
  display: block;
  clear: both;
}
/*版本展示*/
div.mes_page {
  border-radius: 6px;
  margin-top: 30px;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 0 15px 4px #C0C0C0;
  box-shadow: 0 0 15px 4px #C0C0C0;
}
